server:
  port: 8761

spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        - id: client-a-hello
          uri: lb://client-a
          predicates:
            - Path=/client-a/**
        - id: client-b-hello
          uri: lb://client-b
          predicates:
            - Path=/client-b/**

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
    service-url:
      defaultZone: http://localhost:8761/eureka/
  server:
    wait-time-in-ms-when-sync-empty: 0
